.alert-expandable {
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-sm);
}

.alert-expandable .ant-alert-close-icon {
    margin-top: var(--margin-xxs);
  }

.ant-alert-default.ant-alert-info {
  background: var(--rokt-gray-1);
  border-color: var(--rokt-gray-4);
}

.ant-alert-default.ant-alert-info .ant-alert-icon {
  color: var(--rokt-gray-6);
}

