:root {
  --colors-blue-1: #afe1fa;
  --colors-blue-2: #7dd0fa;
  --colors-blue-3: #32b7fa;
  --colors-blue-4: #009be8;
  --colors-blue-5: #0079b5;
  --colors-blue-6: #005782;
  --colors-blue-7: #004669;
  --colors-blue-8: #00354f;
  --colors-blue-9: #002436;
  --colors-blue-10: #00131c;
  --colors-teal-1: #dffef3;
  --colors-teal-2: #97f7df;
  --colors-teal-3: #7ef7d9;
  --colors-teal-4: #05ffc5;
  --colors-teal-5: #04ce9f;
  --colors-teal-6: #00966c;
  --colors-teal-7: #007558;
  --colors-teal-8: #005c45;
  --colors-teal-9: #004232;
  --colors-teal-10: #00291f;
  --colors-green-1: #f6ffed;
  --colors-green-2: #d9f7be;
  --colors-green-3: #b7eb8f;
  --colors-green-4: #95de64;
  --colors-green-5: #73d13d;
  --colors-green-6: #52c41a;
  --colors-green-7: #389e0d;
  --colors-green-8: #237804;
  --colors-green-9: #135200;
  --colors-green-10: #092b00;
  --colors-yellow-1: #f4e8c3;
  --colors-yellow-2: #f4dd92;
  --colors-yellow-3: #f4d162;
  --colors-yellow-4: #f4c631;
  --colors-yellow-5: #f4ba00;
  --colors-yellow-6: #dba700;
  --colors-yellow-7: #a88000;
  --colors-yellow-8: #755900;
  --colors-yellow-9: #5c4600;
  --colors-yellow-10: #423300;
  --colors-orange-1: #ffb085;
  --colors-orange-2: #ff8039;
  --colors-orange-3: #ff6633;
  --colors-orange-4: #ff531a;
  --colors-orange-5: #ff4000;
  --colors-orange-6: #d23703;
  --colors-orange-7: #9e2902;
  --colors-orange-8: #852202;
  --colors-orange-9: #6b1c01;
  --colors-orange-10: #521501;
  --colors-red-1: #fceded;
  --colors-red-2: #f3839e;
  --colors-red-3: #f33a66;
  --colors-red-4: #cf1943;
  --colors-red-5: #b5163b;
  --colors-red-6: #9c1332;
  --colors-red-7: #82102a;
  --colors-red-8: #690d22;
  --colors-red-9: #4f0a1a;
  --colors-red-10: #360611;
  --colors-purple-1: #bdbeff;
  --colors-purple-2: #7074ff;
  --colors-purple-3: #575cff;
  --colors-purple-4: #5239d3;
  --colors-purple-5: #4832ba;
  --colors-purple-6: #3e2ba1;
  --colors-purple-7: #352587;
  --colors-purple-8: #2b1e6e;
  --colors-purple-9: #211754;
  --colors-purple-10: #17103b;
  --colors-gray-1: #ffffff;
  --colors-gray-2: #faf9f8;
  --colors-gray-3: #eceae9;
  --colors-gray-4: #d3d1d0;
  --colors-gray-5: #b2b1b1;
  --colors-gray-6: #767575;
  --colors-gray-7: #525151;
  --colors-gray-8: #2d2c2c;
  --colors-gray-9: #212020;
  --colors-gray-10: #0f0e0e;
  --colors-white-alpha-1: rgba(1,1,1,0.04);
  --colors-white-alpha-2: rgba(1,1,1,0.08);
  --colors-white-alpha-3: rgba(1,1,1,0.12);
  --colors-white-alpha-4: rgba(1,1,1,0.16);
  --colors-white-alpha-5: rgba(1,1,1,0.24);
  --colors-white-alpha-6: rgba(1,1,1,0.32);
  --colors-white-alpha-7: rgba(1,1,1,0.48);
  --colors-white-alpha-8: rgba(1,1,1,0.64);
  --colors-white-alpha-9: rgba(1,1,1,0.72);
  --colors-white-alpha-10: rgba(1,1,1,0.88);
  --colors-black-alpha-1: rgba(0,0,0,0.04);
  --colors-black-alpha-2: rgba(0,0,0,0.08);
  --colors-black-alpha-3: rgba(0,0,0,0.12);
  --colors-black-alpha-4: rgba(0,0,0,0.16);
  --colors-black-alpha-5: rgba(0,0,0,0.24);
  --colors-black-alpha-6: rgba(0,0,0,0.32);
  --colors-black-alpha-7: rgba(0,0,0,0.48);
  --colors-black-alpha-8: rgba(0,0,0,0.64);
  --colors-black-alpha-9: rgba(0,0,0,0.72);
  --colors-black-alpha-10: rgba(0,0,0,0.88);
  --typography-font-weight-strong: 600;
  --typography-font-family-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --typography-font-family-font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --typography-font-size-font-size-sm: 12px;
  --typography-font-size-font-size-md: 14px;
  --typography-font-size-font-size-lg: 16px;
  --typography-font-size-font-size-xl: 20px;
  --typography-font-size-font-size-h1: 38px;
  --typography-font-size-font-size-h2: 30px;
  --typography-font-size-font-size-h3: 24px;
  --typography-font-size-font-size-h4: 20px;
  --typography-font-size-font-size-h5: 16px;
  --typography-font-size-font-size-icon: 12px;
  --typography-line-height-line-height-sm: 1.6699999570846558;
  --typography-line-height-line-height-md: 1.5700000524520874;
  --typography-line-height-line-height-lg: 1.5;
  --typography-line-height-line-height-h1: 1.2100000381469727;
  --typography-line-height-line-height-h2: 1.2699999809265137;
  --typography-line-height-line-height-h3: 1.3300000429153442;
  --typography-line-height-line-height-h4: 1.399999976158142;
  --typography-line-height-line-height-h5: 1.5;
  --size-base-xxs: 4px;
  --size-base-xs: 8px;
  --size-base-sm: 12px;
  --size-base-ms: 16px;
  --size-base-md: 20px;
  --size-base-lg: 24px;
  --size-base-xl: 32px;
  --size-base-xxl: 48px;
  --size-size-step: 4;
  --size-height-control-height-xs: 16;
  --size-height-control-height-sm: 24;
  --size-height-control-height-md: 32;
  --size-height-control-height-lg: 40;
  --size-screen-size-screen-xs: 480;
  --size-screen-size-screen-xs-max: 575;
  --size-screen-size-screen-xs-min: 480;
  --size-screen-size-screen-sm: 576;
  --size-screen-size-screen-sm-max: 767;
  --size-screen-size-screen-sm-min: 576;
  --size-screen-size-screen-md: 768;
  --size-screen-size-screen-md-max: 991;
  --size-screen-size-screen-md-min: 768;
  --size-screen-size-screen-lg: 992;
  --size-screen-size-screen-lg-max: 1199;
  --size-screen-size-screen-lg-min: 992;
  --size-screen-size-screen-xl: 1200;
  --size-screen-size-screen-xl-max: 1599;
  --size-screen-size-screen-xl-min: 1200;
  --size-screen-size-screen-xxl: 1600;
  --size-screen-size-screen-xxl-min: 1600;
  --size-size-unit: 4;
  --size-line-width-line-width: 1;
  --size-line-width-line-width-bold: 2;
  --size-line-width-line-width-focus: 4;
  --size-line-width-control-outline-width: 2;
  --size-control-interactive-size: 16;
  --size-size-popup-arrow: 16;
  --border-radius-border-radius-xs: 2px;
  --border-radius-border-radius-sm: 4px;
  --border-radius-border-radius-md: 6px;
  --border-radius-border-radius-lg: 8px;
}