:root {
  --blue: #1677FF;
  --purple: #722ED1;
  --cyan: #13C2C2;
  --green: #52C41A;
  --magenta: #EB2F96;
  --pink: #EB2F96;
  --red: #F5222D;
  --orange: #FA8C16;
  --yellow: #FADB14;
  --volcano: #FA541C;
  --geekblue: #2F54EB;
  --gold: #FAAD14;
  --lime: #A0D911;
  --blue-1: #eff8ff;
  --blue-2: #d1e9ff;
  --blue-3: #b2ddff;
  --blue-4: #84caff;
  --blue-5: #53b1fd;
  --blue-6: #2e90fa;
  --blue-7: #1570ef;
  --blue-8: #175cd3;
  --blue-9: #1849a9;
  --blue-10: #194185;
  --cyan-1: #f0fdf9;
  --cyan-2: #ccfbef;
  --cyan-3: #99f6e0;
  --cyan-4: #5fe9d0;
  --cyan-5: #2ed3b7;
  --cyan-6: #15b79e;
  --cyan-7: #0e9384;
  --cyan-8: #107569;
  --cyan-9: #125d56;
  --cyan-10: #134e48;
  --geekblue-1: #eef4ff;
  --geekblue-2: #e0eaff;
  --geekblue-3: #c7d7fe;
  --geekblue-4: #a4bcfd;
  --geekblue-5: #8098f9;
  --geekblue-6: #6172f3;
  --geekblue-7: #444ce7;
  --geekblue-8: #3538cd;
  --geekblue-9: #2d31a6;
  --geekblue-10: #2d3282;
  --gold-1: #fffaeb;
  --gold-2: #fef0c7;
  --gold-3: #fedf89;
  --gold-4: #fec84b;
  --gold-5: #fdb022;
  --gold-6: #f79009;
  --gold-7: #dc6803;
  --gold-8: #b54708;
  --gold-9: #93370d;
  --gold-10: #7a2e0e;
  --green-1: #ecfdf3;
  --green-2: #dcfae6;
  --green-3: #a9efc5;
  --green-4: #75e0a7;
  --green-5: #47cd89;
  --green-6: #17b26a;
  --green-7: #079455;
  --green-8: #067647;
  --green-9: #085d3a;
  --green-10: #074d31;
  --lime-1: #f5fbee;
  --lime-2: #e6f4d7;
  --lime-3: #ceeab0;
  --lime-4: #acdc79;
  --lime-5: #86cb3c;
  --lime-6: #669f2a;
  --lime-7: #4f7a21;
  --lime-8: #3f621a;
  --lime-9: #335015;
  --lime-10: #2b4212;
  --magenta-1: #fdf2fa;
  --magenta-2: #fce7f6;
  --magenta-3: #fcceee;
  --magenta-4: #faa7e0;
  --magenta-5: #f670c7;
  --magenta-6: #ee46bc;
  --magenta-7: #dd2590;
  --magenta-8: #c11574;
  --magenta-9: #9e165f;
  --magenta-10: #851651;
  --orange-1: #fef6ee;
  --orange-2: #fdead7;
  --orange-3: #f9dbaf;
  --orange-4: #f7b27a;
  --orange-5: #f38744;
  --orange-6: #ef6820;
  --orange-7: #e04f16;
  --orange-8: #b93815;
  --orange-9: #932f19;
  --orange-10: #772917;
  --purple-1: #f4f3ff;
  --purple-2: #ebe9fe;
  --purple-3: #d9d6fe;
  --purple-4: #bdb4fe;
  --purple-5: #9b8afb;
  --purple-6: #7a5af8;
  --purple-7: #6938ef;
  --purple-8: #5925dc;
  --purple-9: #4a1fb8;
  --purple-10: #3e1c96;
  --red-1: #fef3f2;
  --red-2: #fee4e2;
  --red-3: #fecdca;
  --red-4: #fda29b;
  --red-5: #f97066;
  --red-6: #f04438;
  --red-7: #d92d20;
  --red-8: #b42318;
  --red-9: #912018;
  --red-10: #7a271a;
  --volcano-1: #fff4ed;
  --volcano-2: #ffe6d5;
  --volcano-3: #ffd6ae;
  --volcano-4: #ff9c66;
  --volcano-5: #ff692e;
  --volcano-6: #ff4405;
  --volcano-7: #e62e05;
  --volcano-8: #bc1b06;
  --volcano-9: #97180c;
  --volcano-10: #771a0d;
  --yellow-1: #fefbe8;
  --yellow-2: #fef7c3;
  --yellow-3: #feee95;
  --yellow-4: #fde272;
  --yellow-5: #fac515;
  --yellow-6: #eaaa08;
  --yellow-7: #ca8504;
  --yellow-8: #a15c07;
  --yellow-9: #854a0e;
  --yellow-10: #713b12;
  --color-primary: #a10863;
  --color-success: #17b26a;
  --color-warning: #f79009;
  --color-info: #2e90fa;
  --color-error: #f04438;
  --color-link: #800a51;
  --color-link-hover: #a10863;
  --color-link-active: #640c41;
  --color-error-bg: #fef3f2;
  --color-error-bg-hover: #fee4e2;
  --color-error-bg-active: #fecdca;
  --color-error-border: #fecdca;
  --color-error-border-hover: #fda29b;
  --color-error-hover: #f97066;
  --color-error-active: #d92d20;
  --color-error-text-hover: #f97066;
  --color-error-text: #f04438;
  --color-error-text-active: #d92d20;
  --color-info-bg: #eff8ff;
  --color-info-bg-hover: #d1e9ff;
  --color-info-border: #b2ddff;
  --color-info-border-hover: #84caff;
  --color-info-hover: #53b1fd;
  --color-info-active: #1570ef;
  --color-info-text-hover: #53b1fd;
  --color-info-text: #2e90fa;
  --color-info-text-active: #1570ef;
  --color-primary-bg: #fafafa;
  --color-primary-bg-hover: #f5f5f5;
  --color-primary-border: #e9eaeb;
  --color-primary-border-hover: #d5d7da;
  --color-primary-hover: #c20075;
  --color-primary-active: #800a51;
  --color-primary-text-hover: #a10863;
  --color-primary-text: #800a51;
  --color-primary-text-active: #640c41;
  --color-success-bg: #ecfdf3;
  --color-success-bg-hover: #dcfae6;
  --color-success-border: #a9efc5;
  --color-success-border-hover: #75e0a7;
  --color-success-hover: #47cd89;
  --color-success-active: #079455;
  --color-success-text-hover: #47cd89;
  --color-success-text: #17b26a;
  --color-success-text-active: #079455;
  --color-warning-bg: #fffaeb;
  --color-warning-bg-hover: #fef0c7;
  --color-warning-border: #fedf89;
  --color-warning-border-hover: #fec84b;
  --color-warning-hover: #fdb022;
  --color-warning-active: #dc6803;
  --color-warning-text-hover: #fdb022;
  --color-warning-text: #f79009;
  --color-warning-text-active: #dc6803;
  --color-error-outline: rgba(255, 38, 6, 0.06);
  --color-warning-outline: rgba(255, 215, 5, 0.1);
  --color-text: rgba(0, 0, 0, 0.88);
  --color-text-secondary: rgba(0, 0, 0, 0.65);
  --color-text-tertiary: rgba(0, 0, 0, 0.45);
  --color-text-quaternary: rgba(0, 0, 0, 0.25);
  --color-text-light-solid: #ffffff;
  --color-text-heading: rgba(0, 0, 0, 0.88);
  --color-text-label: rgba(0, 0, 0, 0.65);
  --color-text-description: rgba(0, 0, 0, 0.45);
  --color-text-disabled: rgba(0, 0, 0, 0.25);
  --color-text-placeholder: rgba(0, 0, 0, 0.25);
  --color-text-base: #000;
  --color-border: #d9d9d9;
  --color-border-secondary: #f0f0f0;
  --color-border-bg: #ffffff;
  --color-fill: rgba(0, 0, 0, 0.15);
  --color-fill-secondary: rgba(0, 0, 0, 0.06);
  --color-fill-tertiary: rgba(0, 0, 0, 0.04);
  --color-fill-quaternary: rgba(0, 0, 0, 0.02);
  --color-fill-content: rgba(0, 0, 0, 0.06);
  --color-fill-content-hover: rgba(0, 0, 0, 0.15);
  --color-fill-alter: rgba(0, 0, 0, 0.02);
  --color-bg-base: #fff;
  --color-bg-container: #ffffff;
  --color-bg-elevated: #ffffff;
  --color-bg-layout: #f5f5f5;
  --color-bg-mask: rgba(0, 0, 0, 0.45);
  --color-bg-spotlight: rgba(0, 0, 0, 0.85);
  --color-bg-container-disabled: rgba(0, 0, 0, 0.04);
  --color-bg-text-active: rgba(0, 0, 0, 0.15);
  --color-bg-text-hover: rgba(0, 0, 0, 0.06);
  --color-white: #ffffff;
  --transparent: rgba(0, 0, 0, 0);
  --color-split: rgba(0, 0, 0, 0.06);
  --color-icon: rgba(0, 0, 0, 0.45);
  --color-icon-hover: rgba(0, 0, 0, 0.88);
  --color-bg-solid: #000000;
  --color-bg-solid-active: rgba(0, 0, 0, 0.95);
  --color-bg-solid-hover: rgba(0, 0, 0, 0.75);
  --solid-text-color: #ffffff;
  --font-size: 14px;
  --font-size-sm: 12px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-heading1: 38px;
  --font-size-heading2: 30px;
  --font-size-heading3: 24px;
  --font-size-heading4: 20px;
  --font-size-heading5: 16px;
  --font-size-icon: 12px;
  --line-height: 1.5714285714285714;
  --line-height-lg: 1.5;
  --line-height-sm: 1.6666666666666667;
  --line-height-heading1: 1.2105263157894737;
  --line-height-heading2: 1.2666666666666666;
  --line-height-heading3: 1.3333333333333333;
  --line-height-heading4: 1.4;
  --line-height-heading5: 1.5;
  --font-weight-strong: 600;
  --font-weight-normal: 400;
  --line-width: 1px;
  --line-width-bold: 2px;
  --line-width-focus: 4px;
  --line-type: solid;
  --border-radius-sm: 4px;
  --border-radius-xs: 2px;
  --size-unit: 4px;
  --size-step: 4px;
  --size-popup-arrow: 16px;
  --size: 16px;
  --size-lg: 24px;
  --size-md: 20px;
  --size-ms: 16px;
  --size-sm: 12px;
  --size-xl: 32px;
  --size-xs: 8px;
  --size-xxl: 48px;
  --size-xxs: 4px;
  --control-height: 32px;
  --control-height-lg: 40px;
  --control-height-sm: 24px;
  --control-height-xs: 16px;
  --control-interactive-size: 16px;
  --control-outline-width: 2px;
  --control-item-bg-active: rgba(0, 0, 0, 0.04);
  --control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
  --control-item-bg-active-hover: rgba(0, 0, 0, 0.06);
  --control-item-bg-hover: rgba(0, 0, 0, 0.04);
  --control-tmp-outline: rgba(0, 0, 0, 0.02);
  --control-padding-horizontal: 12px;
  --control-padding-horizontal-sm: 8px;
  --margin: 16px;
  --margin-lg: 24px;
  --margin-md: 20px;
  --margin-sm: 12px;
  --margin-xl: 32px;
  --margin-xs: 8px;
  --margin-xxl: 48px;
  --margin-xxs: 4px;
  --padding: 16px;
  --padding-lg: 24px;
  --padding-md: 20px;
  --padding-sm: 12px;
  --padding-xl: 32px;
  --padding-xs: 8px;
  --padding-xxs: 4px;
  --padding-content-horizontal: 16px;
  --padding-content-horizontal-lg: 24px;
  --padding-content-horizontal-sm: 16px;
  --padding-content-vertical: 12px;
  --padding-content-vertical-lg: 16px;
  --padding-content-vertical-sm: 8px;
  --motion: true;
  --motion-unit: 0.1;
  --motion-base: 0;
  --motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --z-index-base: 0;
  --z-index-popup-base: 1000;
  --opacity-image: 1;
  --wireframe: false;
  --font-height: 22px;
  --font-height-lg: 24px;
  --font-height-sm: 20px;
  --screen-xs: 480px;
  --screen-xs-min: 480px;
  --screen-xs-max: 575px;
  --screen-sm: 576px;
  --screen-sm-min: 576px;
  --screen-sm-max: 767px;
  --screen-md: 768px;
  --screen-md-min: 768px;
  --screen-md-max: 991px;
  --screen-lg: 992px;
  --screen-lg-min: 992px;
  --screen-lg-max: 1199px;
  --screen-xl: 1200px;
  --screen-xl-min: 1200px;
  --screen-xl-max: 1599px;
  --screen-xxl: 1600px;
  --screen-xxl-min: 1600px;
  --control-outline: rgba(239, 11, 148, 0.1);
  --border-radius: 8;
  --border-radius-lg: 10;
  --font-family: 'Inter', -system-ui, sans-serif;
  --color-fill-alter-solid: #fafafa;
  --color-filled-handle-bg: #f5f5f5;
  --font-family-code: 'Courier Prime', monospace;
  --pink-1: #fff1f3;
  --pink-2: #ffe4e8;
  --pink-3: #fecdd6;
  --pink-4: #fea3b4;
  --pink-5: #fd6f8e;
  --pink-6: #f63d68;
  --pink-7: #e31b54;
  --pink-8: #c01048;
  --pink-9: #a11043;
  --pink-10: #89123e;
  --mp-brand-primary-1: #fcf3f8;
  --mp-brand-primary-7: #c20075;
  --mp-brand-primary-8: #a10863;
  --mp-brand-primary-6: #ef0b94;
  --mp-brand-primary-5: #f03da8;
  --mp-brand-primary-3: #f1acd6;
  --mp-brand-primary-9: #800a51;
  --mp-brand-primary-10: #640c41;
  --mp-brand-primary-2: #f7d9eb;
  --mp-brand-primary-4: #ef76bf;
  --mp-brand-secondary-10: #181d27;
  --mp-brand-secondary-9: #252b37;
  --mp-brand-secondary-7: #535862;
  --mp-brand-secondary-3: #f5f5f5;
  --mp-brand-secondary-6: #717680;
  --mp-brand-secondary-2: #fafafa;
  --mp-brand-secondary-5: #d5d7da;
  --mp-brand-secondary-8: #414651;
  --mp-brand-secondary-4: #e9eaeb;
  --mp-brand-secondary-1: #ffffff;
  --mp-color-icon-brand: #640c41;
  --mp-color-icon-strong: #181d27;
  --mp-color-border-disabled: #f0f0f0;
  --mp-icon-size-xxxxl: 48px;
  --mp-icon-size-xxxl: 40px;
  --mp-icon-size-xxl: 32px;
  --mp-icon-size-lg: 24px;
  --mp-icon-size-md: 20px;
  --mp-icon-size-xl: 28px;
  --mp-icon-size-sm: 16px;
  --mp-icon-size-xs: 12px;
  --mp-query-item-height: 32;
  --mp-query-item-padding: 4;
  --mp-query-item-gap: 4;
  --mp-query-item-border-width: 0 0 1px 0;
  --mp-query-item-border-width-active: 0 0 1px 0;
  --mp-query-item-border-radius: 2;
  --mp-query-item-border-color: #D9D9D9;
  --mp-query-item-border-color-focus: #A10863;
  --mp-query-item-border-color-hover: #A10863;
  --mp-query-item-border-color-active: #A10863;
  --mp-query-item-border-color-disabled: #D9D9D9;
  --mp-query-item-border-color-error: #f04438;
  --mp-query-item-bg-color: #ffffff;
  --mp-query-item-bg-color-hover: #ffffff;
  --mp-query-item-bg-color-active: #ffffff;
  --mp-query-item-bg-color-disabled: rgba(0, 0, 0, 0.04);
  --mp-query-item-color-disabled: rgba(0, 0, 0, 0.4);
  --mp-query-item-shadow: none;
  --mp-query-item-shadow-focus: 0 0 0 2px rgba(239, 11, 148, 0.1);
  --mp-query-item-shadow-active: 0 0 0 2px rgba(239, 11, 148, 0.1);
  --mp-query-item-value-selector-font-weight: 500;
  --mp-query-item-value-selector-color: rgba(0, 0, 0, 0.88);
  --mp-query-item-action-primary-color: #800A51;
  --mp-query-item-action-secondary-color: rgba(0, 0, 0, 0.88);
  --mp-query-item-action-font-weight: 400;
  --rokt-brand-1: #fcf3f8;
  --rokt-gray-1: #fafafa;
  --rokt-brand-2: #f7d9eb;
  --rokt-brand-3: #f1acd6;
  --rokt-brand-4: #ef76bf;
  --rokt-brand-5: #f03da8;
  --rokt-brand-6: #ef0b94;
  --rokt-brand-7: #c20075;
  --rokt-brand-8: #a10863;
  --rokt-brand-9: #800a51;
  --rokt-brand-10: #640c41;
  --rokt-gray-2: #f5f5f5;
  --rokt-gray-3: #e9eaeb;
  --rokt-gray-4: #d5d7da;
  --rokt-gray-5: #a4a7ae;
  --rokt-gray-6: #717680;
  --rokt-gray-7: #535862;
  --rokt-gray-8: #414651;
  --rokt-gray-9: #252b37;
  --rokt-gray-10: #181d27;
  --rokt-color-link-secondary: rgba(0, 0, 0, 0.88);
  --rokt-color-link-secondary-hover: rgba(0, 0, 0, 0.65);
  --rokt-color-link-secondary-active: #000000;
  --opacity-loading: 0.65;
  --box-shadow:  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-secondary:  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-tertiary:  0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02) ;
  --box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  --box-shadow-card:  0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09) ;
  --box-shadow-drawer-right:  -6px 0 16px 0 rgba(0, 0, 0, 0.08), -3px 0 6px -4px rgba(0, 0, 0, 0.12), -9px 0 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-drawer-left:  6px 0 16px 0 rgba(0, 0, 0, 0.08), 3px 0 6px -4px rgba(0, 0, 0, 0.12), 9px 0 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-drawer-up:  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-drawer-down:  0 -6px 16px 0 rgba(0, 0, 0, 0.08), 0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
  --box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}
