:root {
  --blue: #1677FF;
  --purple: #722ED1;
  --cyan: #13C2C2;
  --green: #52C41A;
  --magenta: #EB2F96;
  --pink: #EB2F96;
  --red: #F5222D;
  --orange: #FA8C16;
  --yellow: #FADB14;
  --volcano: #FA541C;
  --geekblue: #2F54EB;
  --gold: #FAAD14;
  --lime: #A0D911;
  --color-primary: #B51E6D;
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-error: #ff4d4f;
  --color-info: #B51E6D;
  --color-link: #B51E6D;
  --color-text-base: #000;
  --color-bg-base: #fff;
  --font-family: 'GT America', -system-ui, sans-serif;
  --font-family-code: ‘Roboto Mono’, monospace;
  --font-size: 14px;
  --line-width: 1px;
  --line-type: solid;
  --motion-unit: 0.1;
  --motion-base: 0;
  --motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
  --motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
  --motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
  --motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
  --motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --border-radius: 6px;
  --size-unit: 4px;
  --size-step: 4px;
  --size-popup-arrow: 16px;
  --control-height: 32px;
  --z-index-base: 0;
  --z-index-popup-base: 1000;
  --opacity-image: 1;
  --wireframe: false;
  --motion: true;
  --color-text: rgba(0, 0, 0, 0.95);
  --color-text-secondary: rgba(0, 0, 0, 0.75);
  --color-text-tertiary: rgba(0, 0, 0, 0.55);
  --color-text-quaternary: rgba(0, 0, 0, 0.4);
  --color-border: #FFADD2;
  --color-border-secondary: #eceae9;
  --color-fill: rgba(181, 30, 109, 0.15);
  --color-fill-secondary: rgba(181, 30, 109, 0.06);
  --color-fill-tertiary: rgba(181, 30, 109, 0.04);
  --color-fill-quaternary: rgba(181, 30, 109, 0.02);
  --color-info-bg: #FFF0F6;
  --color-info-bg-hover: #FFD6E7;
  --color-info-border: #FFADD2;
  --color-info-border-hover: #FF85C0;
  --color-info-hover: #F759AB;
  --color-info-active: #9E1068;
  --color-info-text-hover: #F759AB;
  --color-info-text: #9E1068;
  --color-info-text-active: #780650;
  --color-primary-bg: #FFF0F6;
  --color-primary-bg-hover: #FFD6E7;
  --color-primary-border: #FFADD2;
  --color-primary-border-hover: #FF85C0;
  --color-primary-hover: #F759AB;
  --color-primary-active: #9E1068;
  --color-primary-text-hover: #F759AB;
  --color-primary-text: #9E1068;
  --color-primary-text-active: #780650;
  --control-outline: rgba(181, 30, 109, 0.1);
  --font-weight-strong: 500;
  --color-fill-alter-solid: #FFF0F6;
  --color-filled-handle-bg: #FFD6E7;
  --mp-brand-primary-1: #FFF0F6;
  --mp-brand-primary-2: #FFD6E7;
  --mp-brand-primary-3: #FFADD2;
  --mp-brand-primary-4: #FF85C0;
  --mp-brand-primary-5: #F759AB;
  --mp-brand-primary-6: #EB2F96;
  --mp-brand-primary-7: #B51E6D;
  --mp-brand-primary-8: #9E1068;
  --mp-brand-primary-9: #780650;
  --mp-brand-primary-10: #420828;
  --mp-brand-secondary-1: #ffffff;
  --mp-brand-secondary-2: #faf9f8;
  --mp-brand-secondary-3: #eceae9;
  --mp-brand-secondary-4: #dcdcd8;
  --mp-brand-secondary-5: #babbb5;
  --mp-brand-secondary-6: #717368;
  --mp-brand-secondary-7: #505249;
  --mp-brand-secondary-8: #2c2d2b;
  --mp-brand-secondary-9: #212020;
  --mp-brand-secondary-10: #0f0e0e;
  --mp-color-icon-strong: #0f0e0e;
  --mp-color-icon-brand: #780650;
  --mp-color-border-disabled: #dcdcd8;
  --mp-icon-size-xs: 12px;
  --mp-icon-size-sm: 16px;
  --mp-icon-size-md: 20px;
  --mp-icon-size-lg: 24px;
  --mp-icon-size-xl: 28px;
  --mp-icon-size-xxl: 32px;
  --mp-icon-size-xxxl: 40px;
  --mp-icon-size-xxxxl: 48px;
  --mp-query-item-height: 32px;
  --mp-query-item-padding: 4px;
  --mp-query-item-gap: 4px;
  --mp-query-item-border-width: 0 0 1px 0;
  --mp-query-item-border-width-active: 0 0 2px 0;
  --mp-query-item-border-radius: 2px;
  --mp-query-item-border-color: #FFADD2;
  --mp-query-item-border-color-focus: #B51E6D;
  --mp-query-item-border-color-hover: #B51E6D;
  --mp-query-item-border-color-active: #B51E6D;
  --mp-query-item-border-color-disabled: #dcdcd8;
  --mp-query-item-border-color-error: #ff4d4f;
  --mp-query-item-bg-color: #ffffff;
  --mp-query-item-bg-color-hover: #FFF0F6;
  --mp-query-item-bg-color-active: #FFD6E7;
  --mp-query-item-bg-color-disabled: rgba(15, 14, 14, 0.04);
  --mp-query-item-color-disabled: rgba(0, 0, 0, 0.4);
  --mp-query-item-shadow: none;
  --mp-query-item-shadow-focus: 0 0 0 2px rgba(181, 30, 109, 0.1);
  --mp-query-item-shadow-active: 0 0 0 2px rgba(181, 30, 109, 0.1);
  --mp-query-item-value-selector-font-weight: 500;
  --mp-query-item-value-selector-color: #780650;
  --mp-query-item-action-primary-color: #B51E6D;
  --mp-query-item-action-secondary-color: rgba(0, 0, 0, 0.55);
  --mp-query-item-action-font-weight: 400;
  --blue1: #e6f4ff;
  --blue2: #bae0ff;
  --blue3: #91caff;
  --blue4: #69b1ff;
  --blue5: #4096ff;
  --blue6: #1677ff;
  --blue7: #0958d9;
  --blue8: #003eb3;
  --blue9: #002c8c;
  --blue10: #001d66;
  --purple1: #f9f0ff;
  --purple2: #efdbff;
  --purple3: #d3adf7;
  --purple4: #b37feb;
  --purple5: #9254de;
  --purple6: #722ed1;
  --purple7: #531dab;
  --purple8: #391085;
  --purple9: #22075e;
  --purple10: #120338;
  --cyan1: #e6fffb;
  --cyan2: #b5f5ec;
  --cyan3: #87e8de;
  --cyan4: #5cdbd3;
  --cyan5: #36cfc9;
  --cyan6: #13c2c2;
  --cyan7: #08979c;
  --cyan8: #006d75;
  --cyan9: #00474f;
  --cyan10: #002329;
  --green1: #f6ffed;
  --green2: #d9f7be;
  --green3: #b7eb8f;
  --green4: #95de64;
  --green5: #73d13d;
  --green6: #52c41a;
  --green7: #389e0d;
  --green8: #237804;
  --green9: #135200;
  --green10: #092b00;
  --magenta1: #fff0f6;
  --magenta2: #ffd6e7;
  --magenta3: #ffadd2;
  --magenta4: #ff85c0;
  --magenta5: #f759ab;
  --magenta6: #eb2f96;
  --magenta7: #c41d7f;
  --magenta8: #9e1068;
  --magenta9: #780650;
  --magenta10: #520339;
  --pink1: #fff0f6;
  --pink2: #ffd6e7;
  --pink3: #ffadd2;
  --pink4: #ff85c0;
  --pink5: #f759ab;
  --pink6: #eb2f96;
  --pink7: #c41d7f;
  --pink8: #9e1068;
  --pink9: #780650;
  --pink10: #520339;
  --red1: #fff1f0;
  --red2: #ffccc7;
  --red3: #ffa39e;
  --red4: #ff7875;
  --red5: #ff4d4f;
  --red6: #f5222d;
  --red7: #cf1322;
  --red8: #a8071a;
  --red9: #820014;
  --red10: #5c0011;
  --orange1: #fff7e6;
  --orange2: #ffe7ba;
  --orange3: #ffd591;
  --orange4: #ffc069;
  --orange5: #ffa940;
  --orange6: #fa8c16;
  --orange7: #d46b08;
  --orange8: #ad4e00;
  --orange9: #873800;
  --orange10: #612500;
  --yellow1: #feffe6;
  --yellow2: #ffffb8;
  --yellow3: #fffb8f;
  --yellow4: #fff566;
  --yellow5: #ffec3d;
  --yellow6: #fadb14;
  --yellow7: #d4b106;
  --yellow8: #ad8b00;
  --yellow9: #876800;
  --yellow10: #614700;
  --volcano1: #fff2e8;
  --volcano2: #ffd8bf;
  --volcano3: #ffbb96;
  --volcano4: #ff9c6e;
  --volcano5: #ff7a45;
  --volcano6: #fa541c;
  --volcano7: #d4380d;
  --volcano8: #ad2102;
  --volcano9: #871400;
  --volcano10: #610b00;
  --geekblue1: #f0f5ff;
  --geekblue2: #d6e4ff;
  --geekblue3: #adc6ff;
  --geekblue4: #85a5ff;
  --geekblue5: #597ef7;
  --geekblue6: #2f54eb;
  --geekblue7: #1d39c4;
  --geekblue8: #10239e;
  --geekblue9: #061178;
  --geekblue10: #030852;
  --gold1: #fffbe6;
  --gold2: #fff1b8;
  --gold3: #ffe58f;
  --gold4: #ffd666;
  --gold5: #ffc53d;
  --gold6: #faad14;
  --gold7: #d48806;
  --gold8: #ad6800;
  --gold9: #874d00;
  --gold10: #613400;
  --lime1: #fcffe6;
  --lime2: #f4ffb8;
  --lime3: #eaff8f;
  --lime4: #d3f261;
  --lime5: #bae637;
  --lime6: #a0d911;
  --lime7: #7cb305;
  --lime8: #5b8c00;
  --lime9: #3f6600;
  --lime10: #254000;
  --color-bg-layout: #f5f5f5;
  --color-bg-container: #ffffff;
  --color-bg-elevated: #ffffff;
  --color-bg-spotlight: rgba(0, 0, 0, 0.85);
  --color-bg-blur: transparent;
  --color-success-bg: #f6ffed;
  --color-success-bg-hover: #d9f7be;
  --color-success-border: #b7eb8f;
  --color-success-border-hover: #95de64;
  --color-success-hover: #95de64;
  --color-success-active: #389e0d;
  --color-success-text-hover: #73d13d;
  --color-success-text: #52c41a;
  --color-success-text-active: #389e0d;
  --color-error-bg: #fff2f0;
  --color-error-bg-hover: #fff1f0;
  --color-error-bg-active: #ffccc7;
  --color-error-border: #ffccc7;
  --color-error-border-hover: #ffa39e;
  --color-error-hover: #ff7875;
  --color-error-active: #d9363e;
  --color-error-text-hover: #ff7875;
  --color-error-text: #ff4d4f;
  --color-error-text-active: #d9363e;
  --color-warning-bg: #fffbe6;
  --color-warning-bg-hover: #fff1b8;
  --color-warning-border: #ffe58f;
  --color-warning-border-hover: #ffd666;
  --color-warning-hover: #ffd666;
  --color-warning-active: #d48806;
  --color-warning-text-hover: #ffc53d;
  --color-warning-text: #faad14;
  --color-warning-text-active: #d48806;
  --color-link-hover: #804beb;
  --color-link-active: #2800ab;
  --color-bg-mask: rgba(0, 0, 0, 0.45);
  --color-white: #fff;
  --font-size-sm: 12px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-heading1: 38px;
  --font-size-heading2: 30px;
  --font-size-heading3: 24px;
  --font-size-heading4: 20px;
  --font-size-heading5: 16px;
  --line-height: 1.5714285714285714;
  --line-height-lg: 1.5;
  --line-height-sm: 1.6666666666666667;
  --font-height: 22px;
  --font-height-lg: 24px;
  --font-height-sm: 20px;
  --line-height-heading1: 1.2105263157894737;
  --line-height-heading2: 1.2666666666666666;
  --line-height-heading3: 1.3333333333333333;
  --line-height-heading4: 1.4;
  --line-height-heading5: 1.5;
  --size-xxl: 48px;
  --size-xl: 32px;
  --size-lg: 24px;
  --size-md: 20px;
  --size-ms: 16px;
  --size: 16px;
  --size-sm: 12px;
  --size-xs: 8px;
  --size-xxs: 4px;
  --control-height-sm: 24px;
  --control-height-xs: 16px;
  --control-height-lg: 40px;
  --motion-duration-fast: 0.1s;
  --motion-duration-mid: 0.2s;
  --motion-duration-slow: 0.3s;
  --line-width-bold: 2px;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-lg: 8px;
  --border-radius-outer: 4px;
  --color-fill-content: rgba(181, 30, 109, 0.06);
  --color-fill-content-hover: rgba(181, 30, 109, 0.15);
  --color-fill-alter: rgba(181, 30, 109, 0.02);
  --color-bg-container-disabled: rgba(181, 30, 109, 0.04);
  --color-border-bg: #ffffff;
  --color-split: rgba(44, 22, 11, 0.09);
  --color-text-placeholder: rgba(0, 0, 0, 0.4);
  --color-text-disabled: rgba(0, 0, 0, 0.4);
  --color-text-heading: rgba(0, 0, 0, 0.95);
  --color-text-label: rgba(0, 0, 0, 0.75);
  --color-text-description: rgba(0, 0, 0, 0.55);
  --color-text-light-solid: #fff;
  --color-highlight: #ff4d4f;
  --color-bg-text-hover: rgba(181, 30, 109, 0.06);
  --color-bg-text-active: rgba(181, 30, 109, 0.15);
  --color-icon: rgba(0, 0, 0, 0.55);
  --color-icon-hover: rgba(0, 0, 0, 0.95);
  --color-error-outline: rgba(255, 38, 5, 0.06);
  --color-warning-outline: rgba(255, 215, 5, 0.1);
  --font-size-icon: 12px;
  --line-width-focus: 4px;
  --control-outline-width: 2px;
  --control-interactive-size: 16px;
  --control-item-bg-hover: rgba(181, 30, 109, 0.04);
  --control-item-bg-active: #FFF0F6;
  --control-item-bg-active-hover: #FFD6E7;
  --control-item-bg-active-disabled: rgba(181, 30, 109, 0.15);
  --control-tmp-outline: rgba(181, 30, 109, 0.02);
  --opacity-loading: 0.65;
  --link-decoration: none;
  --link-hover-decoration: none;
  --link-focus-decoration: none;
  --control-padding-horizontal: 12px;
  --control-padding-horizontal-sm: 8px;
  --padding-xxs: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding: 16px;
  --padding-md: 20px;
  --padding-lg: 24px;
  --padding-xl: 32px;
  --padding-content-horizontal-lg: 24px;
  --padding-content-vertical-lg: 16px;
  --padding-content-horizontal: 16px;
  --padding-content-vertical: 12px;
  --padding-content-horizontal-sm: 16px;
  --padding-content-vertical-sm: 8px;
  --margin-xxs: 4px;
  --margin-xs: 8px;
  --margin-sm: 12px;
  --margin: 16px;
  --margin-md: 20px;
  --margin-lg: 24px;
  --margin-xl: 32px;
  --margin-xxl: 48px;
  --box-shadow:  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-secondary:  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-tertiary:  0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02) ;
  --screen-xs: 480px;
  --screen-xs-min: 480px;
  --screen-xs-max: 575px;
  --screen-sm: 576px;
  --screen-sm-min: 576px;
  --screen-sm-max: 767px;
  --screen-md: 768px;
  --screen-md-min: 768px;
  --screen-md-max: 991px;
  --screen-lg: 992px;
  --screen-lg-min: 992px;
  --screen-lg-max: 1199px;
  --screen-xl: 1200px;
  --screen-xl-min: 1200px;
  --screen-xl-max: 1599px;
  --screen-xxl: 1600px;
  --screen-xxl-min: 1600px;
  --box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  --box-shadow-card:  0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09) ;
  --box-shadow-drawer-right:  -6px 0 16px 0 rgba(0, 0, 0, 0.08), -3px 0 6px -4px rgba(0, 0, 0, 0.12), -9px 0 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-drawer-left:  6px 0 16px 0 rgba(0, 0, 0, 0.08), 3px 0 6px -4px rgba(0, 0, 0, 0.12), 9px 0 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-drawer-up:  0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-drawer-down:  0 -6px 16px 0 rgba(0, 0, 0, 0.08), 0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05) ;
  --box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
  --box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
  --box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);
}
