@import url('src/styles/_variables.css');
/**
 * QueryItem
 * _defaults_
 */
.query-item {
  border-width: var(--mp-query-item-border-width) !important;
  border-color: var(--mp-query-item-border-color) !important;
  border-radius: var(--mp-query-item-border-radius);
  background-color: var(--mp-query-item-bg-color) !important;
  padding: var(--mp-query-item-padding) !important;
  /*color: var(--mp-query-item-color) !important;*/
  height: var(--mp-query-item-height) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-style: solid;
}
.query-item:hover {
  border-color: var(--mp-query-item-border-color-active) !important;
  background-color: var(--mp-query-item-bg-color-hover) !important;
}
.query-item:focus {
  border-color: var(--mp-query-item-border-color-active) !important;
  box-shadow: var(--mp-query-item-shadow-focus);
  background-color: var(--mp-query-item-bg-color) !important;
}
.query-item:active {
  border-color: var(--mp-query-item-border-color-active) !important;
  border-width: var(--mp-query-item-border-width-active) !important;
  background-color: var(--mp-query-item-bg-color-active) !important;
  box-shadow: var(--mp-query-item-shadow-active);
}
.query-item[disabled] {
  color: var(--mp-query-item-color-disabled) !important;
  background-color: var(--mp-query-item-bg-color) !important;
  border-color: var(--mp-query-item-border-color-disabled) !important;
}
.query-item.query-item--input-text {
  color: var(--mp-query-item-value-selector-color);
  font-weight: var(--mp-query-item-value-selector-font-weight);
}
.query-item.query-item--input-text::placeholder {
  font-weight: normal;
}

.query-item.query-item--action {
  color: var(--mp-query-item-action-primary-color) !important;
  gap: var(--mp-query-item-gap);
}
.query-item.query-item--secondary {
  color: var(--mp-query-item-action-secondary-color) !important;
}
.query-item.query-item--secondary:hover {
  background-color: var(--mp-query-item-bg-color-hover) !important;
}
.query-item.query-item--secondary:active {
  border-width: var(--mp-query-item-border-width-active);
  background-color: var(--mp-query-item-bg-color-active) !important;
}
.query-item.query-item--disabled {
  color: var(--mp-query-item-action-secondary-color) !important;
}
.query-item.query-item--disabled:hover {
  background-color: var(--mp-query-item-bg-color) !important;
}
.query-item.query-item--disabled:active {
  border-width: var(--mp-query-item-border-width) !important;
  background-color: var(--mp-query-item-bg-color) !important;
  box-shadow: none !important;
}
.query-item.query-item--selected > input {
  color: var(--mp-query-item-value-selector-color) !important;
  font-weight: var(--mp-query-item-value-selector-font-weight) !important;
}
.query-item.query-item--error {
  border-color: var(--mp-query-item-border-color-error) !important;
}
.query-item.query-item--open {
  border-color: var(--mp-query-item-border-color-active) !important;
  border-width: var(--mp-query-item-border-width-active) !important;
  background-color: var(--mp-query-item-bg-color-active) !important;
}
.query-item .ant-select-selector {
  padding: 0 !important;
}
.query-item__search-highlight {
  color: var(--mp-query-item-action-primary-color);
}

/* This is temporary until the new icon component is available where sizes can be controlled without CSS */
.query-item__icon {
  height: 16px;
  width: 16px;
}
.query-item__dropdown{
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/* This is a fix for a pre-existing Ant issue with the spacing on input.search */
.query-item__input-search .ant-input-outlined{
    height: var(--control-height);
}
