.globalNavigation__newExperienceReminder.globalNavigation__newExperienceReminder-bottomLeft {
    left: calc(var(--nav-width) + var(--margin-xs)) !important;
}

.globalNavigation__newExperienceReminder .ant-btn-link span {
    color: var(--color-primary);
}

.globalNavigation__newExperienceReminder .ant-btn-link span:hover {
    color: var(--color-primary-hover);
}