.accountSelector {
    .ant-menu {
        max-height: 500px !important;
        overflow-y: hidden !important;
    }
}

.accountSelector__content {
    height: 500px !important;
    padding: 0 !important;
    overflow-y: auto !important;
}

.accountSelector__search {
    padding: 0 !important;
}

.accountSelector__noResults {
    height: 100% !important;
    max-width: 200px;
    pointer-events: none;

    .ant-menu-title-content {
        height: 100% !important;
    }

    .ant-result-title {
        font-size: var(--font-size);
    }
}

.accountSelector__avatar {
    color: white !important;
}

.accountSelector__orgName {
    color: var(--color-text-description);
    font-size: 12px;
    font-weight: 400;
    pointer-events: none;
}

.accountSelector__accountName {
    height: var(--control-height);
    padding: var(--padding-xxs) var(--control-padding-horizontal);
    pointer-events: none;
}

.accountSelector__workspaceName {
    padding-left: calc(var(--padding-sm) + var(--padding)) !important;

    &.accountSelector__workspaceName--active {
        /* todo: check these vars/names... */
        border-radius: 4px; /* var(--Components-Menu-Global-borderRadius, 4px); */
        background: #ebe8f8; /* var(--Components-Menu-Component-itemSelectedBg, #EBE8F8); */
    }
}


.accountSelector__orgName,
.accountSelector__accountName {
    pointer-events: none; /* only workspaces are clickable */
}

.accountSelector__orgName,
.accountSelector__accountName,
.accountSelector__workspaceName {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.accountSelector__signout {
    margin: var(--margin-xs) !important;
    padding: 0 !important;
}
.accountSelector__signout,
.accountSelector__signoutButton {
    padding: 0 !important;
    width: 100% !important;
}