:root {
    --nav-item-height: 56px; /* todo: 42 or 56? is 42 in the js */
    --nav-item-width: 80px;
    --suite-logo-height: 82px;
}

.globalNavigation {
    min-height: 100%;
    background-color: white !important;
    border-right: 1px solid var(--color-border-secondary);
}

.globalNavigation__sider {
    min-height: 100%;
    background-color: white !important;
}

.globalNavigation__item {
    height: var(--nav-item-height) !important;
    width: 88px !important;


    margin: 0;
    padding: 0;
    gap: var(--margin-xxs);

    border-radius: 0 !important;
    cursor: pointer;

    transition: none !important;

    &:hover {
        background-color: var(--control-item-bg-hover);
    }

    &:focus, &:active {
        background-color: var(--control-item-bg-active);
    }


    .ant-menu-submenu-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: var(--nav-item-height) !important;
        padding: 0 !important;

        background-color: transparent !important;
    }

    .ant-menu-title-content {
        margin-inline-start: 0 !important;
        opacity: 1 !important;
    }
}


.globalNavigation__menu {
    height: var(--nav-item-height) !important;
    width: 100%;

    border-inline-end: initial !important;

    .globalNavigation__icon {
        height: 100%;
        width: 20px;
    }
}

.globalNavigation__icon.globalNavigation__icon--suiteLogo {
    padding-bottom: var(--padding-xs)
}


.globalNavigation__iconLabel {
    padding-top: var(--margin-xxs);
    color: var(--color-text);
    font-size: 10px;
}


.globalNavigation__badge {
    border: solid 1px var(--color-border);
    border-radius: var(--border-radius-sm);
    padding: 1px var(--padding-content-vertical-sm);
    box-shadow: none !important;

    .ant-badge-count {
        color: var(--color-text) !important;
        background: transparent !important;
        box-shadow: none !important;
    }
}


.ant-badge-color-red {
    color: var(--color-error) !important;
    background: var(--color-error) !important;
}


.globalNavigation__createItem {
    height: 100% !important;
    min-height: 100% !important;
}


.globalNavigation__headerItem {
    width: var(--control-height-lg);
    height: var(--control-height-lg) !important;
    padding: 0 var(--padding-sm);

    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-border, #c3aeff);
}


.globalNavigation__suiteLogo {
    min-height: var(--suite-logo-height);
    min-width: var(--nav-item-width);
    padding-top: var(--padding-sm);
    color: black;
    font-size: var(--font-size-sm);
    cursor: default;
}

.globalNavigation__divider {
    border-bottom: 1px solid var(--color-border-secondary);
    width: 80%;
    margin: var(--padding-lg) 0;
}

.globalNavigation__search {
    width: 100%;
}

.globalNavigation__mpHome {
    padding: var(--padding-lg, 20px); /* TODO: dependency between padding-lg/md and 20 from figma... */
    margin: var(--margin-xxs);
    width: var(--nav-item-width);
    height: var(--nav-item-height);
    background-color: black;

    color: white;
    cursor: pointer;
}

.globalNavigation__mpSvg {
    width: 28px;
    height: 24px;
}