:root {
    --nav-item-height: 56px;
    --nav-item-width: 82px;
    --nav-width: 90px;
    --suite-logo-height: 82px;
}

.globalNavigation {
    width: var(--nav-width);
    min-height: 100%;
    background-color: white !important;
    border-right: 1px solid var(--color-border-secondary);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02), 0px 1px 6px -1px rgba(0, 0, 0, 0.02), 0px 1px 2px 0px rgba(0, 0, 0, 0.03);

    /* allow vertical scroll */
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden auto;
}

.globalNavigation__sider {
    min-height: 100%;
    background-color: white !important;
}

.globalNavigation__item {
    height: var(--nav-item-height) !important;
    width: var(--nav-width);

    margin: 0;
    padding: 0;
    gap: var(--margin-xxs);

    border-radius: 0 !important;
    cursor: pointer;

    transition: none !important;
}

.globalNavigation__item:hover {
    background-color: var(--control-item-bg-hover) !important;
}

.globalNavigation__item:focus,
.globalNavigation__item:active {
    background-color: var(--control-item-bg-active);
}


.globalNavigation__item .ant-menu-submenu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    height: var(--nav-item-height) !important;
    padding: 0 !important;
    margin: 0 !important;

    background-color: transparent !important;
}

.globalNavigation__item .ant-menu-title-content {
    text-wrap: normal;
    margin-inline-start: 0 !important;
    opacity: 1 !important;
}

.globalNavigation__item.globalNavigation__item--workspaceSelector:hover {
    background-color: initial;
}

.globalNavigation__item.globalNavigation__item--createNew {
    border: none !important;
}

.globalNavigation__item.globalNavigation__item--createNew:hover {
    background-color: initial !important;
}

.globalNavigation__item.globalNavigation__item--createNew .ant-menu-item-icon {
    pointer-events: initial !important;
}

.globalNavigation__item.globalNavigation__item--createNew .ant-button:hover {
    border-color: var(--color-primary-hover) !important;
}

.globalNavigation__item.globalNavigation__item--active {
    border-left: solid 3px var(--color-primary);
    background-color: var(--color-bg-text-hover);
}


.globalNavigation__search {
    width: 100%;
}

.globalNavigation__searchButtonWrapper,
.navigationCreate__popupButtonWrapper {
    height: var(--nav-item-height);
}

.globalNavigation__searchButton,
.navigationCreate__popupButton {
    box-shadow: 0 2px 0 0 rgba(54, 0, 209, 0.10);
}

.navigationCreate__popupIcon,
.globalNavigation__searchIcon {
    width: var(--size-lg) !important;
    height: var(--size-lg) !important;
}

.navigationCreate__lockIcon {
    padding-left: var(--padding-xs);
    width: var(--size-sm) !important;
    height: var(--size-sm) !important;
}

.globalNavigation__searchButton {
    padding-inline: var(--padding-xs) var(--padding-xs) !important;
}


.globalNavigation__popup .ant-menu-item-group-title {
    margin: 0 var(--margin-xxs) !important;
    padding: var(--padding-xs) var(--padding) 0 !important;

    user-select: none;
    color: var(--color-primary-text) !important;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 20px;
}

.globalNavigation__popup.globalNavigation__popup--navigationCreate {
    width: 290px !important;
}

.globalNavigation__popup.globalNavigation__popup--navigationCreate .ant-menu-item-group-title {
    border-top: 1px solid var(--color-border-secondary);
    color: var(--color-primary-text) !important;
}


.navigationCreate__item {
    height: 100% !important;
    min-height: 100% !important;
}

.navigationCreate__item .ant-flex {
    gap: 0;
}

.navigationCreate__item.navigationCreate__item--disabled .navigationCreate__itemTitle,
.navigationCreate__item.navigationCreate__item--disabled .navigationCreate__itemDescription {
    color: var(--color-text-disabled) !important;
}


.navigationCreate__itemTitle {
    color: var(--color-text-heading);
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.navigationCreate__itemDescription {
    color: var(--color-text-description);
    font-size: 12px;
    line-height: 20px;
    white-space: normal !important;
}

.navigationCreate__itemLoading,
.navigationCreate__itemLock {
    padding-left: var(--padding-sm);
}

.navigationCreate__itemLock {
    width: var(--size-sm);
    height: var(--size-sm);
}

.globalNavigation__menu {
    height: var(--nav-item-height) !important;
    width: 100%;

    border-inline-end: initial !important;
}

.globalNavigation__menu .globalNavigation__icon {
    height: 100%;
    width: 20px;
}

.globalNavigation__icon.globalNavigation__icon--suiteLogo {
    padding-bottom: var(--padding-xxs);
}

.globalNavigation__icon.globalNavigation__icon--suiteLogo svg {
    width: 20px;
    height: 20px;
}


.globalNavigation__iconLabel {
    color: var(--color-text);
    font-size: 10px;
}


.globalNavigation__badge {
    border: solid 1px var(--color-border);
    border-radius: var(--border-radius-sm);
    padding: 1px var(--padding-content-vertical-sm);
    box-shadow: none !important;
}

.globalNavigation__badge .ant-badge-count {
    color: var(--color-text) !important;
    background: transparent !important;
    box-shadow: none !important;
}


.ant-badge-color-red {
    color: var(--color-error) !important;
    background: var(--color-error) !important;
}

.ant-menu-item-selected {
    background-color: revert !important;
    color: revert !important;
}


.globalNavigation__headerItem {
    width: var(--control-height-lg);
    height: var(--control-height-lg) !important;
    padding: 0 var(--padding-sm);

    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-border, #c3aeff);
}


.globalNavigation__suiteLogo {
    min-height: var(--suite-logo-height);
    min-width: var(--nav-width);
    padding-top: var(--padding-lg);
    color: black;
    font-size: var(--font-size-sm);
    font-weight: 400;
    cursor: default;
}

.globalNavigation__divider {
    border-bottom: 1px solid var(--color-border-secondary);
    width: 80%;
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-md);
}


.globalNavigation__mpHome {
    padding: var(--padding-lg, 20px); /* TODO: dependency between padding-lg/md and 20 from figma... */
    margin-top: var(--margin-xs);
    width: var(--nav-width);
    height: var(--nav-item-height);
    background-color: black;

    color: white;
    cursor: pointer;
}

.globalNavigation__mpSvg {
    width: 28px;
    height: var(--size-lg);
}