:root {
    --nav-item-height: 56px;
}

.globalNavigation__item {
    height: var(--nav-item-height) !important;
    width: 80px;

    padding: var(--padding);
    gap: var(--margin-xxs);

    border-radius: var(--border-radius);
    cursor: pointer;

    &:hover, :focus, :active {
        background-color: #ebe8f8; /* todo: find variable */
    }
}


.globalNavigation__menu {
    border-inline-end: initial !important;


    &:after, &:before { /* hide arrow */
        display: none; !important
    }

    .globalNavigation__icon {
        height: 100%;
    }
}


.globalNavigation__menuItem {

    .ant-menu-submenu-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: var(--nav-item-height) !important;
        width: 80px !important;
    }

    .ant-menu-title-content {
        margin-inline-start: 0 !important;
        opacity: 1 !important;
    }
}


.globalNavigation__iconLabel {
    color: rgba(0, 0, 0, 0.88); /* var(--Components-Menu-Component-itemColor, rgba(0, 0, 0, 0.88)); */
}

.globalNavigation__badge {
    border: solid 1px #c3aeff; /* todo: var - Components/Tag/Global/colorBorder */
    border-radius: var(--border-radius-sm);
    padding: 1px var(--padding-content-vertical-sm);
    box-shadow: none !important;

    .ant-badge-count {
        color: #000000e0 !important;
        background: transparent !important;
    }
}