.metric-card {
  border-radius: 8px;
  overflow: hidden;
}

.metric-card .ant-card-head {
  min-height: unset;
  padding: 8px 16px;
  border-bottom: none;
  background: #fafafa;
}

.metric-card .ant-card-head-title {
  padding: 0;
  font-weight: 400;
}

.metric-card .ant-card-body {
  padding: 16px;
  background: #fff;
  border-radius: 12px 12px 0 0;
  border-top: 1px solid #eceae9;
  position: relative;
}

.metric-card-value {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.3px;
}

.metric-card-change {
  font-size: 14px;
  font-weight: 500;
}

.metric-card-comparison {
  font-size: 14px;
}

.metric-card-sparkline {
  width: 100%;
  height: 48px;
  margin-top: 8px;
}

.metric-card .ant-btn-text [data-testid="icon-moreActions-light"] {
  color: #babbb5;
}

.metric-card .icon-color-success {
  color: #52c41a !important;
}

.metric-card .icon-color-error {
  color: #ff4d4f !important;
}
