.untitled-ui-steps.ant-steps-vertical .ant-steps-item-icon {
  margin-top: 0 !important;
  margin-inline-end: var(--margin-sm) !important;

}

.untitled-ui-steps.ant-steps-vertical .ant-steps-item-content {
  margin-top: 0 !important;
  padding-top: 2px !important; /* Fine-tune vertical alignment */
}

.untitled-ui-steps.ant-steps-vertical .ant-steps-item-title {
  line-height: 1.5 !important;
  padding: 0 !important;
}

/* Step spacing and connector line */
.untitled-ui-steps.ant-steps-vertical .ant-steps-item-container {
  min-height: 66px !important;
}

.untitled-ui-steps.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
  padding: 28px 0 0 !important;
  left: 11px !important; /* Center on 24px icon */
}

.untitled-ui-steps.ant-steps-vertical > .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
  width: 2px !important;
  background-color: var(--color-border) !important;
}

.untitled-ui-steps.ant-steps-vertical > .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: var(--mp-brand-primary-6) !important;
}

