.ant-checkbox-wrapper {
    display: inline-flex;
    align-items: flex-start;
    font-weight: 400;
}

.ant-checkbox {
    align-self: flex-start;
    flex-shrink: 0;
    margin-top: var(--margin-xxs);
}
