.icon-size-xxxxl {
  width: var(--mp-icon-size-xxxxl);
  min-width: var(--mp-icon-size-xxxxl);
  height: var(--mp-icon-size-xxxxl);
}

.icon-size-xxxl {
  width: var(--mp-icon-size-xxxl);
  min-width: var(--mp-icon-size-xxxl);
  height: var(--mp-icon-size-xxxl);
}

.icon-size-xxl {
  width: var(--mp-icon-size-xxl);
  min-width: var(--mp-icon-size-xxl);
  height: var(--mp-icon-size-xxl);
}

.icon-size-xl {
  width: var(--mp-icon-size-xl);
  min-width: var(--mp-icon-size-xl);
  height: var(--mp-icon-size-xl);
}

.icon-size-lg {
  width: var(--mp-icon-size-lg);
  min-width: var(--mp-icon-size-lg);
  height: var(--mp-icon-size-lg);
}

.icon-size-md {
  width: var(--mp-icon-size-md);
  min-width: var(--mp-icon-size-md);
  height: var(--mp-icon-size-md);
}

.icon-size-sm {
  width: var(--mp-icon-size-sm);
  min-width: var(--mp-icon-size-sm);
  height: var(--mp-icon-size-sm);
}

.icon-size-xs {
  width: var(--mp-icon-size-xs);
  min-width: var(--mp-icon-size-xs);
  height: var(--mp-icon-size-xs);
}

.icon-color-primary {
  color: var(--color-primary);
}

.icon-color-success {
  color: var(--color-success);
}

.icon-color-warning {
  color: var(--color-warning);
}

.icon-color-error {
  color: var(--color-error);
}

.icon-color-info {
  color: var(--color-info);
}

.icon-color-text {
  color: var(--color-text);
}

.icon-color-default {
  color: var(--color-icon);
}

.icon-color-brand {
  color: var(--mp-color-icon-brand);
}

.icon-color-strong {
  color: var(--mp-color-icon-strong);
}

.icon-color-white {
  color: white;
}

.icon-color-black {
  color: black;
}

.icon-color-inherit {
  color: inherit;
}
