name: Release Aquarium

on:
  workflow_dispatch:

jobs:
  # release is done from main branch.
  confirm-public-repo-main-branch:
    name: 'Confirm release is run from public/main branch'
    uses: mParticle/mparticle-workflows/.github/workflows/sdk-release-repo-branch-check.yml@main

  release:
    name: Perform Release
    runs-on: ubuntu-latest
    needs: confirm-public-repo-main-branch

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GIT_AUTHOR_NAME: mparticle-automation
      GIT_AUTHOR_EMAIL: developers@mparticle.com
      GIT_COMMITTER_NAME: mparticle-automation
      GIT_COMMITTER_EMAIL: developers@mparticle.com
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout public main branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Import GPG Key
        uses: crazy-max/ghaction-import-gpg@v4
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: FONTAWESOME_PACKAGE_TOKEN=${{secrets.FONTAWESOME_PACKAGE_TOKEN}} npm ci

      - name: Build dist
        run: npm run build-dist

      - name: Release
        run: |
          npx semantic-release

      - name: Archive npm failure logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: npm-logs
          path: ~/.npm/_logs