name: Storybook Tests

on: push

jobs:
  test:
    name: Storybook Tests
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '24.12.0'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install

      - name: Run Storybook Tests
        run: npm run test-storybook:ci
