name: Storybook Tests
on: push
jobs:
  test:
    name: Storybook Tests
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4

      - name: Install Dependencies
        run: npm ci

      - name: Install CI specific deps
        run: npm i --save-dev @swc/core-linux-x64-gnu @swc/core-linux-x64-musl

      - name: Install Playwright
        run: npx playwright install

      - name: Run Storybook Tests
        run: npm run test-storybook:ci