name: Storybook Tests
on: push
jobs:
  test:
    name: Storybook Tests
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4

      - run: npm ci && npx playwright install

      - name: Run Storybook Tests
        run: npm run test-storybook:ci