name: Storybook Tests
on: push
jobs:
  test:
    name: Unit Tests
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install Dependencies
        run: npm ci

      - name: Run Storybook Tests
        run: npm run test-unit